.form-container {
  background-color: #076c79;
  display: grid;
  /* grid-template-rows:50% 50%; */
  /* grid-template-columns:100%; */
  height: 60vh;
}
.form-item {
  height: 30vh;
  padding-top: 5vh;
  justify-self: stretch;
  /* align-self: flex-end */
  text-align: center;
}
input {
  width: 60%;
  height: 30%;
  font-size: 5vh;
  background-color: #044149;
  text-align: center;
  border: 2px solid #011618;
  border-radius: 40px;
  color: white;
}
.form-item-button {
  height:20vh;
  /* padding-top: -20vh; */
  justify-self: stretch;
  text-align: center;
}
.button_search {
  width: 20%;
  height: 50%;
  /* margin-top: 50px; */
  font-size: 5vh;
  background-color: #262626;
  text-align: center;
  border: 2px solid #011618;
  border-radius: 40px;
  color: white;
}
